#-----------------------------------------------------------------------------#
#                                                                             #
# Array definition file for ALMA, Cycle 6, Config 5, 12-m antennas.          #
#                                                                             #
#-----------------------------------------------------------------------------#
# Baseline Range: 15m-1.4km

# Name of the telescope
telescope = ALMA

# Name of the configuration
config = Custom-lego-alma

# Latitude of the array centre
latitude_deg = -23.0229

# Antenna diameter
diameter_m = 12.0

# Antenna coordinates (offset E, offset N)
-74.0, -12.0
